<h1>Bem-vindo ao Crypto Wallet</h1>
<p>Atualmente a linguagem da aplicação é: <%= locale(I18n.locale) %></p>

<%= link_to 'Cadastrar Moeda', new_coin_path %>
<%= link_to 'Visualizar Moedas Cadastradas', coins_path %>